<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<title>{{ page.title }}</title>
		<link rel="icon" href="/public/favicon.ico" />
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

		<meta name="description" content="{{ page.meta.description }}"/>
		<meta name="keywords" content="{{ page.meta.keywords | join: ", " }}"/>
		<link rel="canonical" href="{{ site_config.base_url }}{{ page.route }}">

		{% render "head" %}

		<style>{{ extra_css | raw }}</style>

		{% render "json-ld", post: page %}
	</head>
	<body class="post-page">
		{% render "header" %}

		<main id="content">
			<aside class="contents">
				{% render "table-of-contents", page: page %}
			</aside>
			<article class="contents">
				{{ page.body | raw }}
			</article>
		</main>

		{% render "footer" %}

		<script>
			// Yeah, yeah. There's JavaScript here. I know-
			// It's actually good for the reader though, toggling the TOC with pure CSS is beyond me
			// so I've just solved it by debouncing the click event and unchecking the box that the CSS uses.
			document.addEventListener("DOMContentLoaded", () => {
				document.querySelector("aside.contents").addEventListener("click", (e) => {
					if (e.target.tagName.toLowerCase() === "a") {
						document.querySelector("aside.contents input").checked = false;
					}
				})
			})
		</script>
	</body>
</html>


