<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<title>{{ page.title }}</title>

		<meta name="description" content="{{ page.meta.description }}"/>
		<meta name="keywords" content="{{ page.meta.keywords | join: ", " }}"/>
		<link rel="canonical" href="{{ site_config.base_url }}{{ page.route }}">

		{% render "head" %}

		<style>{{ extra_css | raw }}</style>

		{% render "json-ld", post: page %}
	</head>
	<body class="post-page">
		{% render "header" %}

		<main id="content">
			<aside class="contents">
				{% render "table-of-contents", page: page %}
			</aside>
			<article class="contents">
				{{ page.body | raw }}
			</article>
		</main>

		{% render "footer" %}
	</body>
</html>


